<h1> Add A New Actor </h1>
<form action ="http://localhost:3000/create_actor">
<label for="Name"> Name: </label>
<input type="text" name="the_name" id="Name" />
<label for="Biography"> Biography: </label>
<input type="text" name="the_bio" id = "Biography"/>
<label for="DOB"> Date of Birth: </label>
<input type="text" name="the_dob" id = "DOB"/>
<label for="Image URL"> Image URL: </label>
<input type="text" name="the_url" id = "Image URL"/>
<button>Create Actor</button>
</form>
